.command {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4em;

  label {
    display: flex;
    align-items: center;
  }
}

.interim {
  color: blue;
}

.final {
  color: black;
}

button.microphone {
  flex-shrink: 0;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  overflow: hidden;

  .material-icons {
    font-size: 2.5em;
  }


  .listening {
    position: relative;
    top: -0.2em;
    left: -0.8em;


    .mic_off {
      position: relative;
    }

    .mic {
      position: absolute;
      top: 0;
      left: 0;
      animation: listening 1s infinite;
    }

  }
}

@keyframes listening {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.confidence {
  height: 0.3em;
  background: #eee;
  margin-bottom: 0.4em;

  .level {
    height: 100%;
    background: black;
  }
}

.textarea {
  border: 0.1em solid #eee;
  width: 100%;
  min-height: 4em;
}

.message {
  flex-grow: 1;
  font-size: 0.8em;
  padding-left: 1em;

  .error {
    color: red;
  }
}

.note {
  font-size: 0.8em;
}
